@font-face {
    font-family: "San Francisco";
    font-weight: 400;
    src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-regular-webfont.woff");
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

/* Nav-Bar*/
  
*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
  
li, button {
    font-family: 'San Francisco', sans-serif;
    font-weight: bolder;
    font-size: 1em;
    color: black;
    text-decoration: None;
}
  
header {
    display: flex;
    /* children of flex container can flex to fill parent container (header)*/
    justify-content: space-between; 
    /* pushes the left and right items to the far edge and the item in the middle spaces evenly */
    align-items: center;
    background-color: black;
    padding: 0.5% 10% 0.5%;
}
  
a {
    font-family: 'San Francisco', sans-serif;
    font-weight: bolder;
    font-size: 1.1em;
    color: white;
    text-decoration: None;
    background-color: black;
    transition: all 0.3s ease 0s;
}

.Bitcoin-nav-Logo {
    height: 85px
}
  
.Bitcoin-nav-Logo {
    cursor: pointer;
}
  
.nav-links {
    list-style: None;
  
}
  
.nav-links li {
    display: inline-block;
    padding: 1em 1em;
    background-color: black;
    transition: all 0.3s ease 0s;
}
  
.donation {
    width: 12%;
}
  
  /* Underline-Effect */
  
.underline-effect {
    display: inline-block;
    padding-bottom: 0.25rem;
    position: relative;
}
  
.underline-effect::before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    width: 0;
    height: 0.15em;
    background-color: rgba(0,184,204,1);
    transition: width 0.25s ease-out;
}
  
.underline-effect:hover::before {
    width: 100%;
}

/*Main*/

main {
    display: grid;
    justify-content: space-evenly;
    grid-template-rows: repeat(15,6.66666666666667%);
    grid-template-columns: repeat(20,5%);
    width: 100%;
    height: 100vh;   
    background-color: #000000;
}

#head {
    grid-row-start: 3;
    grid-row-end: 5;
    grid-column-start: 4;
    grid-column-end: 18;
    padding-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-family: 'Poppins',sans-serif;
    font-weight: bold;
    text-align: center;
    font-size: 3.6em;
    z-index: 1;
}

#particles-js {
    grid-row-start: 1;
    grid-row-end: 16;
    grid-column-start: 1;
    grid-column-end: 21;
    z-index: 0;
}

.form-container {
    font-family: 'Archivo';
    grid-row-start: 6;
    grid-row-end: 11;
    grid-column-start: 9;
    grid-column-end: 14;
    max-width: 500px;
    height: 350px;
    border-radius: 0.75rem;
    background-color: rgba(17, 24, 39, 1);
    padding: 2rem;
    color: rgba(243, 244, 246, 1);
    z-index: 1;
  }
  
  .title {
    text-align: center;
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: 700;
  }
  
  .form {
    margin-top: 1.5rem;
  }
  
  .input-group {
    margin-top: 0.25rem;
    font-size: 0.875rem;
    line-height: 1.25rem;
  }
  
  .input-group label {
    display: block;
    color: rgba(156, 163, 175, 1);
    margin-bottom: 4px;
  }
  
  .input-group input {
    width: 100%;
    border-radius: 0.375rem;
    border: 1px solid rgba(55, 65, 81, 1);
    outline: 0;
    background-color: rgba(17, 24, 39, 1);
    padding: 0.75rem 1rem;
    color: rgba(243, 244, 246, 1);
  }
  
  .input-group input:focus {
    border-color: rgba(167, 139, 250);
  }
  
  .forgot {
    display: flex;
    justify-content: flex-end;
    font-size: 0.75rem;
    line-height: 1rem;
    color: rgba(156, 163, 175,1);
    margin: 8px 0 14px 0;
  }
  
  .forgot a,.signup a {
    color: rgba(243, 244, 246, 1);
    text-decoration: none;
    font-size: 14px;
  }
  
  .forgot a:hover, .signup a:hover {
    text-decoration: underline rgba(167, 139, 250, 1);
  }
  
  .sign {
    margin: 40px 0 30px;
    display: block;
    width: 100%;
    background-color: rgba(167, 139, 250, 1);
    padding: 0.75rem;
    text-align: center;
    color: rgba(17, 24, 39, 1);
    border: none;
    border-radius: 0.375rem;
    font-weight: 600;
  }
  
  .social-message {
    display: flex;
    align-items: center;
    padding-top: 1rem;
  }
  
  .line {
    height: 1px;
    flex: 1 1 0%;
    background-color: rgba(55, 65, 81, 1);
  }
  
  .social-message .message {
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    font-size: 0.875rem;
    line-height: 1.25rem;
    color: rgba(156, 163, 175, 1);
  }
  
  .social-icons {
    display: flex;
    justify-content: center;
  }
  
  .social-icons .icon {
    border-radius: 0.125rem;
    padding: 0.75rem;
    border: none;
    background-color: transparent;
    margin-left: 8px;
  }
  
  .social-icons .icon svg {
    height: 1.25rem;
    width: 1.25rem;
    fill: #fff;
  }
  
  .signup {
    text-align: center;
    font-size: 0.75rem;
    line-height: 1rem;
    color: rgba(156, 163, 175, 1);
  }
  

/*Footer*/

footer *{
    line-height: 1.5;
	font-family: 'Poppins', sans-serif;
	margin: 0;
    padding: 0;
	box-sizing: border-box;
}
.container{
	max-width: 1170px;
	margin: auto;
}
.row{
	display: flex;
    justify-content: space-evenly;
	flex-wrap: wrap;
}

ul{
	list-style: none;
}
.footer{
	background-color: #000000;
    padding: 70px 0;
}
.footer-col{
   width: 25%;
   padding: 0 15px;
}
.footer-col h4{
	font-size: 18px;
	color: #ffffff;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}
.footer-col h4::before{
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	background-color: #00fff7;
	height: 2px;
	box-sizing: border-box;
	width: 50px;
}
.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}
.footer-col ul li a{
	font-size: 16px;
	text-transform: capitalize;
	color: #ffffff;
	text-decoration: none;
	font-weight: 300;
	color: #bbbbbb;
	display: block;
	transition: all 0.3s ease;
}
.footer-col ul li a:hover{
	color: #ffffff;
	padding-left: 8px;
}
.footer-col .social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: rgba(255,255,255,0.2);
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #ffffff;
	transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
	color: #24262b;
	background-color: #ffffff;
}

@media(max-width: 767px){
    .footer-col{
      width: 50%;
      margin-bottom: 30px;
  }
  }
  @media(max-width: 574px){
    .footer-col{
      width: 100%;
  }
  }
  