@font-face {
    font-family: "San Francisco";
    font-weight: 400;
    src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-regular-webfont.woff");
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

/* Nav-Bar*/
  
*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
  
li, button {
    font-family: 'San Francisco', sans-serif;
    font-weight: bolder;
    font-size: 1em;
    color: black;
    text-decoration: None;
}
  
header {
    display: flex;
    /* children of flex container can flex to fill parent container (header)*/
    justify-content: space-between; 
    /* pushes the left and right items to the far edge and the item in the middle spaces evenly */
    align-items: center;
    background-color: black;
    padding: 0.5% 10% 0.5%;
}
  
a {
    font-family: 'San Francisco', sans-serif;
    font-weight: bolder;
    font-size: 1.1em;
    color: white;
    text-decoration: None;
    background-color: black;
    transition: all 0.3s ease 0s;
}
  
body {
    background-image: url('https://i.pinimg.com/originals/df/c3/09/dfc309dd3b5d8971c5425ea1f8a28f3d.jpg');
    background-color: black;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    z-index: 1;
}

.Bitcoin-nav-Logo {
    height: 85px
}
  
.Bitcoin-nav-Logo {
    cursor: pointer;
}
  
.nav-links {
    list-style: None;
  
}
  
.nav-links li {
    display: inline-block;
    padding: 1em 1em;
    background-color: black;
    transition: all 0.3s ease 0s;
}
  
.donation {
    width: 12%;
}
  
  /* Underline-Effect */
  
.underline-effect {
    display: inline-block;
    padding-bottom: 0.25rem;
    position: relative;
}
  
.underline-effect::before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    width: 0;
    height: 0.15em;
    background-color: rgba(0,184,204,1);
    transition: width 0.25s ease-out;
}
  
.underline-effect:hover::before {
    width: 100%;
}
  
/* HERO */
  
.heading-box {
    align-content: center;
    display: grid;
    place-items: center;
    font-family: 'San Francisco';
    font-size: 3em;
    height: 100vh;
}
  
.hero-text {
    color: white;
    text-align: center;
    font-family: 'Poppins', sans-serif;
}
  
.hero-btn {
    padding: 20px 50px;
    font-size: 2rem;
    font-family: 'Roboto Mono', monospace;
    font-weight: 200;
    position: relative;
    margin: 32px;
    background: rgba(0,0,0,1);
    color: white;
    border-radius: 100px;
    transition: transform 0.3s ease;
}
  
.hero-btn::after, .hero-btn::before {
    content: '';
    position: absolute;
    opacity: 0.4;
    background: black;
    border-radius: inherit;
    width: 100%;
    height: 100%;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: transform 0.3s ease;
}
  
.hero-btn:hover {
    transition: translate(-12px, -12px);
}
  
.hero-btn:hover::after {
    transform: translate(6px, 6px);
}
  
.hero-btn:hover::before {
    transform: translate(12px, 12px);
}

.introduction {
    background-color: rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
}

.advert {
    display: grid;
    grid-template-rows: repeat(29,3.4482758620689655172413793103448%);
    grid-template-columns: repeat(20,5%);
    height: 2263px;
    width: 1023px;
    
}

.index-logo-extraextralarge {
    height: 40px;
    width: auto;
}

.index-logo-extralarge {
    height: 30px;
    width: auto;
}

.index-logo-large {
    height: 25px;
    width: auto;
}

.index-logo {
    height: 20px;
    width: auto;
}

.advert-title {
    grid-row-start: 2;
    grid-row-end: 4;
    grid-column-start: 2;
    grid-column-end: 10;
    font-size: 1.6em;
    color: white;
    font-family: 'Archivo';
}

.speed-text-container {
    margin: 20px 0 20px;
    grid-row-start: 4;
    grid-row-end: 7;
    grid-column-start: 2;
    grid-column-end: 10;
    background-color: black;
    box-shadow: 2px 2px 1px 1px rgb(5, 243, 255);
    border-radius: 30px;
    font-size: 1.3em;
    color: white;
    font-family: 'Archivo';
}

#speed-header {
    margin-top: 30px;
    margin-left: 30px;
    margin-right: 30px;
    border-left: 2px solid rgb(5, 243, 255);
    padding-left: 10px;
    font-weight: 100;
}

.advert p {
    margin: 20px 30px 20px;
    font-size: 1em;
    font-family: 'San Francisco';
}

.cost-text-container {
    margin: 40px 0 30px;
    grid-row-start: 7;
    grid-row-end: 11;
    grid-column-start: 2;
    grid-column-end: 10;
    background-color: black;
    box-shadow: 2px 2px 1px 1px rgb(5, 243, 255);
    border-radius: 30px;
    font-size: 1.3em;
    color: white;
    font-family: 'Archivo';
}

#cost-header {
    margin-top: 30px;
    margin-left: 30px;
    margin-right: 30px;
    border-left: 2px solid rgb(5, 243, 255);
    padding-left: 10px;
    font-weight: 100;
}

.fear-text-container {
    margin: 30px 0 20px;
    grid-row-start: 11;
    grid-row-end: 15;
    grid-column-start: 2;
    grid-column-end: 10;
    background-color: black;
    box-shadow: 2px 2px 1px 1px rgb(5, 243, 255);
    border-radius: 30px;
    font-size: 1.3em;
    color: white;
    font-family: 'Archivo';
}

#fear-header {
    margin-top: 30px;
    margin-left: 30px;
    margin-right: 30px;
    border-left: 2px solid rgb(5, 243, 255);
    padding-left: 10px;
    font-weight: 100;
}
  

.transaction-speed {
    grid-row-start: 3;
    grid-row-end: 6;
    grid-column-start: 13;
    grid-column-end: 20;
    width: 360px;
    height: 232px;
    display: grid;
    grid-template-rows: 10% 10% 10% 10% 10% 10% 10% 10% 10% 10%;
    grid-template-columns: 10% 10% 10% 10% 10% 10% 10% 10% 10% 10%;
}

.transaction-cost {
    grid-row-start: 7;
    grid-row-end: 10;
    grid-column-start: 13;
    grid-column-end: 20;
    width: 360px;
    height: 232px;
    display: grid;
    grid-template-rows: 10% 10% 10% 10% 10% 10% 10% 10% 10% 10%;
    grid-template-columns: 10% 10% 10% 10% 10% 10% 10% 10% 10% 10%;
}

.total-users {
    grid-row-start: 11;
    grid-row-end: 14;
    grid-column-start: 13;
    grid-column-end: 20;
    width: 360px;
    height: 232px;
    display: grid;
    grid-template-rows: 10% 10% 10% 10% 10% 10% 10% 10% 10% 10%;
    grid-template-columns: 10% 10% 10% 10% 10% 10% 10% 10% 10% 10%;
}

#num-heading {
    grid-row-start: 1;
    grid-row-end: 8;
    grid-column-start: 1;
    grid-column-end: 11;   
    font-family: 'San Francisco', sans-serif;   
    font-weight: 100;
    font-size: 9em;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
  
#subheading-text {
    grid-row-start: 8;
    grid-row-end: 11;
    grid-column-start: 1;
    grid-column-end: 11;   
    font-family: 'San Francisco', sans-serif;   
    font-size: 1em;
    color: white;
    text-align: center;
}

.transact-speed-num {
    background: -webkit-linear-gradient(#ffffff, #00f2ff)
}

.transact-cost-num {
    background: -webkit-linear-gradient(#00f2ff, #0088ff)
}

.total-users-num {
    background: -webkit-linear-gradient(#0088ff,#0a007a);

}

@keyframes slide {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-100%);
    }
}

/*Companies Payment Advert*/

#particles-js {
    grid-row-start: 20;
    grid-row-end: 25;
    grid-column-start: 14;
    grid-column-end: 20;
    background-color: #000000;
}

.companies-header {
    grid-row-start: 17;
    grid-row-end: 18;
    grid-column-start: 1;
    grid-column-end: 21;
    font-family: 'Poppins', sans-serif;
    font-size: 1.9em;
    color: rgb(255, 255, 255);
    margin-left: 50px;
    padding-left: 3px aqua;
    text-align: left;
}

.companies-subheader {
    grid-row-start: 18;
    grid-row-end: 19;
    grid-column-start: 1;
    grid-column-end: 12;
    font-family: 'Poppins', sans-serif;
    color: rgb(255, 255, 255);
    margin-left: 50px;
    text-align: left;
}

.companies-advert {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    border-left: solid rgb(41, 41, 41) 3px;
    grid-row-start: 19;
    grid-row-end: 26;
    grid-column-start: 2;
    grid-column-end: 14;
    padding-left: 30px;
}

.sub-ad {
    margin-top: 20px;
    width: 90%;
    height: 33%;
}

.sub-ad-1 {
    width: 90%;
    height: 29%;
}

.sub-ad-2 {
    width: 90%;
    height: 33%;
}

.sub-title {
    font-family: 'Poppins', sans-serif !important;
    margin: 0 !important;
    color: white;
    border-left: 2px solid rgb(5, 243, 255);
    padding-left: 10px;
    font-size: 1.5em !important; 
}

.body-text-advert {
    margin: 0 !important;
    color: white;
    padding-top: 10px;
    font-size: 1em !important;
    font-family: 'Poppins', sans-serif !important;
}

.logo-header {
    font-family: 'Poppins', sans-serif !important;
    margin: 0 !important;
    color: white;
    font-size: 1em !important; 
    grid-row-start: 27;
    grid-row-end: 28;
    grid-column-start: 2;
    grid-column-end: 14;
    z-index: 1;
    padding-top: 25px;
}

.logos {
    grid-row-start: 28;
    grid-row-end: 29;
    grid-column-start: 1;
    grid-column-end: 21;
    overflow: hidden;
    display: inline-flex;
    white-space: nowrap;
}

.logos-slide {
    align-items: flex-start;
    display: flex;
    width: fit-content;
    animation: 15s slide infinite linear;
}

.logos-slide .logo-box {
    height: 100px;
    width: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
}

span {
    background-color: #00fbff80;
    color: rgb(255, 255, 255);
}


/*Footer*/

footer *{
    line-height: 1.5;
	font-family: 'Poppins', sans-serif;
	margin: 0;
    padding: 0;
	box-sizing: border-box;
}
.container{
	max-width: 1170px;
	margin: auto;
}
.row{
	display: flex;
    justify-content: space-evenly;
	flex-wrap: wrap;
}

ul{
	list-style: none;
}
.footer{
	background-color: #000000;
    padding: 70px 0;
}
.footer-col{
   width: 25%;
   padding: 0 15px;
}
.footer-col h4{
	font-size: 18px;
	color: #ffffff;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}
.footer-col h4::before{
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	background-color: #00fff7;
	height: 2px;
	box-sizing: border-box;
	width: 50px;
}
.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}
.footer-col ul li p{
	font-size: 16px;
	text-transform: capitalize;
	color: #ffffff;
	text-decoration: none;
	font-weight: 300;
	color: #bbbbbb;
	display: block;
	transition: all 0.3s ease;
}
.footer-col ul li p:hover{
	color: #ffffff;
	padding-left: 8px;
}
.footer-col .social-links p{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: rgba(255,255,255,0.2);
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #ffffff;
	transition: all 0.5s ease;
}

.footer-col .social-links p:hover{
	color: #24262b;
	background-color: #ffffff;
}

@media(max-width: 767px){
    .footer-col{
      width: 50%;
      margin-bottom: 30px;
  }
  }
  @media(max-width: 574px){
    .footer-col{
      width: 100%;
  }
  }
  





